#snakenladderBoard {
    background: url(resize-.png) no-repeat;
    float:left;
    position: relative;
  }
  #statistics {
    float:left;
    width:350px;
    padding: 0 10px;
  }
  .row {
    clear: both;
  }

  .row div,.player {
    width: 94px;
    height: 94px;
    float: left;
    margin: 1px;
  }
  .row:after,.row div:after,.player:after,#snakenladderBoard:after, #statistics:after {
      content: "";
      display: table;
      clear: both;
  }

  /* .row div, #players {
    position: relative;
  } */
  #players .player {
      top: -500px;
  }
  .player {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 35px;
    left: 30px;
    border: 1px solid #f0f0f0;
    box-shadow: -1px -1px 16px 1px #666, 1px 1px 16px 1px #bbb;
    -webkit-transition: left 3s, top 3s; /* For Safari 3.1 to 6.0 */
    transition: left 3s, top 3s;
  }
  .legends{
      border:1px solid #666;
      padding:10px;
      margin:5px 0;
  }
  .legends.active {
      border-width: 3px;
  }
  .legends span{
      float:right;
  }
  .blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  /* #dice{
      width: 50px;height:50px;
      border: 1px solid #f0f0f0;
      border-radius : 5px;
  } */



  #gameMessage {height:30px;font-weight:bold;}
  #copyright {clear:both;background:black;padding:20px;color:white;font-size:85%;}

/* CSS for POp Quiz Box */
  .popup{
    width: 400px;
    background: #fff; border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); 
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s ,top 0.4s;
  }
  
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); 
  }
  
  .popup img{
    width: 100px;
    border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
  }
  
  .popup button{ 
    width: 100%; 
    margin-top: 50px; 
    padding: 10px 0; 
    background: #6fd649; 
    color: #fff; 
    border: 0; 
    outline: none; 
    font-size: 18px; 
    border-radius: 4px; 
    cursor: pointer; 
    box-shadow: 0,2px 5px rgba(0, 0, 0, 0.2); 
  }